<div class="container">
	<h1>Breizhmail</h1>
	<div class="container emailer">
		<tr>
			<td><strong>Object</strong></td>
		</tr>
		<br>
		<% @emails.each do |email| %>
		<tr>
			<td><%= email.object %></td>
		</tr>
		<br>
		<% end %>
	</div>
</div>